/**
 *------
 * BGA framework: Gregory Isabelli & Emmanuel Colin & BoardGameArena
 * ZeroDown implementation : © Oliver THEBAULT (a.k.a. Oliboy50)
 *
 * This code has been produced on the BGA studio platform for use on http://boardgamearena.com.
 * See http://en.boardgamearena.com/#!doc/Studio for more information.
 * -----
 *
 * zerodown.css
 *
 * ZeroDown stylesheet
 *
 */

/*
    This is the CSS stylesheet of your game User Interface.

    Styles defined on this file will be applied to the HTML elements you define in your
    HTML template (zerodown_zerodown.tpl), and to HTML elements you create dynamically
    (in zerodown.js).

    Usually, you are using CSS to:

    1°) define the overall layout of your game
        (ex: place the board on the top left, place player's hand beside, place the deck on the right, ...).

    2°) create your CSS-sprites:
        All images of your games should be gathered into a small number of image files. Then, using
        background-image and background-position CSS properties, you create HTML blocks that can
        display these images correctly (see example below).

    3°) ... anything else:
        It is really easy to add and remove CSS classes dynamically from your Javascript with
        dojo.addClass and dojo.removeClass. It is also easy to check if an element has a class
        (dojo.hasClass) or to get all elements with a specific class (dojo.query). This is why,
        very often, using CSS classes for the logic of your user interface allow you to do complex
        thing easily.


     Note: on the production platform, this file will be compressed and comments will be removed.
           Consequently, don't hesitate to put as many comments as necessary.
*/


/* Note: you must not use any @import directive */

/**
Override BGA elements style
 */
/* Make sure BGA elements are placed on top of the game ones */
#page-title,
#log_history_status,
#maingameview_menuheader {
    z-index: 97;
}
/* BGA results table */
.tableWindow table {
    width: 100%;
}
.tableWindow table th {
    text-align: center;
}
.tableWindow table tr:last-child td {
    border-bottom: none;
    text-transform: uppercase;
    font-weight: bold;
}
/**
END Override BGA elements style
 */

/**
Board
 */
#board {
    position: relative;
    /*display: flex;*/
    /*align-items: center;*/
    /*justify-content: center;*/
    min-width: 740px;
}
/**
END Board
 */

/**
Players and table cards
 */
#other-players-wrapper {
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    z-index: 0;
}
#table-cards-wrapper {
    z-index: 10;
}
#my-hand-wrapper {
    z-index: 20;
}
.spectatorMode #my-hand-wrapper {
    display: none;
}
.cards-wrapper {
    position: relative;
    padding-left: 0; /* fix stock component centerItems bug */
}
.cards-title-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: space-between;
    align-items: center;
    padding-left: 10px;
}
#other-players-wrapper .cards-title-wrapper {
    justify-content: center;
}
.cards-title-wrapper-left {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: center;
    align-items: center;
}
.cards-title-wrapper-right {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    align-items: center;
    text-transform: uppercase;
}
.cards-title {
    margin-left: 5px;
}
#current-round,
#my-hand-current-value {
    font-size: 1.5em;
}
#toggle-sort-button {
    margin-left: 10px;
}
.cards-wrapper .stockitem {
    border-radius: 10px;
    margin: 5px;
    border: 1px solid grey;
}
#table-cards-wrapper .stockitem:hover,
#my-hand-wrapper .stockitem:hover {
    cursor: pointer;
    margin: 4px;
    border: 2px solid black !important;
}
.cards-wrapper .stockitem_selected {
    margin: 3px;
    transform: scale(1.02);
    border: 2px solid black !important;
    box-shadow: 1px 1px 5px black, 2px 2px 4px black;
}
.player-table {
    text-align: center;
    z-index: 0;
}
.player-table-name span {
    background: rgba(255, 255, 255, 0.9);
}
.player-table.active .player-table-name span {
    border: 2px solid;
}
/**
END Players
 */

/**
Card
 */
.card {
    width: 75px;
    height: 116px;
    border-radius: 10px;
    background-image: url('img/oliboy50_cards.png'); /* background-position is dynamically computed */
    background-size: 600px 928px; /* width = cardWidth * number of columns in sprite ; height = cardHeight * number of rows in sprite */
}
.card.back-side {
    background-position: 0 -700%; /* sprite: column 1 ; row 8  */
}
/**
END Cards
 */

/**
Log HTML
 */
.log .card {
    display: inline-block;
    vertical-align: bottom;
    border-radius: 0;
}
/**
END Log HTML
 */
